@model Company.WebUI.Models.Vancancies.VacancyDetailViewModel

@{
    ViewData["Title"] = "Vacancy Detail";
}

<h1>@ViewData["Title"]</h1>

<p><b>ID:</b> @Model.IdVacancy</p>
<p><b>Job:</b> @Model.Job</p>
<p><b>Description:</b> @Model.Description</p>
<p><b>InsertDate:</b> @Model.InsertDate.ToString("dd-MM-yyyy")</p>

<br />

<p><a asp-controller="candidate" asp-action="List">View Candidates</a></p>
