@model Company.WebUI.Models.Candidates.CandidateDetailViewModel

@{
    ViewData["Title"] = "Candidate Detail";
}

<h1>@ViewData["Title"]</h1>

<p><b>Job:</b> @Model.IdCandidate</p>
<p><b>ID:</b> @Model.IdVacancy</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Surname:</b> @Model.Surname</p>
<p><b>Email:</b> @Model.Email</p>

<br />
